@using Microsoft.AspNetCore.Components

@page "/"

@inject NavigationManager navManager

<div>Redirecting...</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        navManager.NavigateTo("./acnadailyprayer");
    }
}
